<footer id="footer" >
 <div class="navbar navbar-bottom" >
 <div class="navbar-inner">
 <br />
 <div class="row">
 <div class="span12">  

 <center>
<!--版权声明 -->
<p>
    <% if (config.author){ %>
    &copy; - <%= new Date().getFullYear() %> <%= config.author %> - - 欢迎转载，转载请携带 <a href="<%= config.url %>"><%= config.url %> </a>及作者新浪微博地址 <a href="http://weibo.com/hufengvip" target="_blank"> @神一样的我啊 </a>
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
    <% } %>
</p>
 </center>
 </div>

 </div>
 </div>
 </div>

</footer>


<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="<%- config.root %>fancybox/jquery.fancybox.pack.js"></script>
<script src="<%- config.root %>fancybox/easing.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
 
    /* 最基本的，使用了默认配置 */
     
    $("a#single_image").fancybox();
     
    /* 使用了自定义配置 */
     
    $("a#inline").fancybox({
        'hideOnContentClick': true
    });
 
    /* 一下配置支持组播放 */
     
    $("a.group").fancybox({
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'speedIn'       :   600, 
        'speedOut'      :   200, 
        'overlayShow'   :   false
    });
     
});
<% } %>

