<!DOCTYPE HTML>
<html>
<head>
    <link href="<%- config.root %>favicon.ico" rel="icon">
    <meta charset="utf-8">
    <%
    var title = [];
    if (page.current > 1) title.push(__('page', page.current));
    if (page.title) title.push(page.title);
    if (page.category) title.push(page.category);
    if (page.tag) title.push(page.tag);
    if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
    }
    title.push(config.title);
    %>
    <title><%= title.join(' | ') %></title>
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
    <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').replace(/[\n,\r]/g,'') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150).replace(/[\n,\r]/g,'') %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>">
  <% } else if (page.tags){ %>
  <%
    var thistags=[];
    page.tags.each(function(k){ 
    thistags.push(k.name);
    }) %>
    <meta name="keywords" content="<%= thistags %>">
  <% } %>
    <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
    <meta property="og:site_name" content="<%= config.title %>"/>

    <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
    <% } else { %>
    <meta property="og:image" content="<%= config.cover %>"/>
    <% } %>

    <link href="<%- config.root %>favicon.png" rel="icon">
    <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">

    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <!-- Bootstrap -->
    <link href="<%- config.root %>css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="<%- config.root %>css/hexobootstrapcss.css" rel="stylesheet" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%- config.root %>css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="<%- config.root %>css/hf.css" rel="stylesheet" media="screen">
        <link href="<%- config.root %>css/tab.css" rel="stylesheet" media="screen">

  <link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen">
   <!--script src="<%- config.root %>fancybox/jquery.fancybox.pack.js"></script>-->
   <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script> -->
    <script src="<%- config.root %>js/jquery.js"></script>
    <script src="<%- config.root %>js/jquery.imagesloaded.min.js"></script>
    <script src="<%- config.root %>js/bootstrap.js"></script>
    <script src="<%- config.root %>js/jquery.scrollUp.min.js"></script>

    
 


  <!--  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script> -->
    
    <script type="text/javascript">


$(function () {
      $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            scrollDistance: 300, // Distance from top/bottom before showing element (px)
            scrollFrom: 'top', // 'top' or 'bottom'
            scrollSpeed: 300, // Speed back to top (ms)
            easingType: 'linear', // Scroll to top easing (see http://easings.net/)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 200, // Animation in speed (ms)
            animationOutSpeed: 200, // Animation out speed (ms)
            scrollText: '▲', // Text for element, can contain HTML
            scrollTitle: false, // Set a custom <a> title if required. Defaults to scrollText
            scrollImg: false, // Set true to use image
            activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            zIndex: 2147483647 // Z-Index for the overlay
      });
    });

        $(document).ready(function () {

            $('.dropdown-toggle').dropdown();

//            $('[data-spy="scroll"]').each(function () {
//                var $spy = $(this).scrollspy('refresh')
//            });
        });

    </script>
</head>
