<div class="content">
    <header class="page-header">
        <% if (item.layout != 'page'){ %>
        <div class="icon"></div>
        <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
        <% } %>
        <%- partial('../_component/common/title') %>
    </header>
    <div class="entry" id="<%= item.layout %>">
        <%- item.content %>
        <hr />
        <span class="label label-warning">W</span>
        本站文章如果没有特殊说明，均为原创，转载请以链接方式注明本文地址：<a href="<%- item.permalink %>"><%= item.permalink %>
         <hr />
        <% if (item.tags && item.tags.length){ %>
  <%
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push('<a  href="' + config.root + tag.path + '">' + tag.name + '</a>');
  });
  %>
  <div class="tags">
    <%- tags.join(', ') %>
  </div>
<% } %>
    </div>
</div>